@media (max-width: 576px)
{
    .principal{
    background-image:url("../img/celular.webp");  
    background-repeat: no-repeat; 
    background-size: cover; 
    }
    
}

@media(min-width: 576px)
{
    .principal{
    background-image:url("../img/tablet.webp");   
    background-repeat: no-repeat;  
    background-size: cover;   
    }
}
@media(min-width: 768px)
{
    .principal{
    background-image:url("../img/desktop.webp");  
    background-repeat: no-repeat;   
    background-size: cover;      
    }
}
@media(min-width: 992px)
{
    .principal{
        background-image:url("../img/download.webp");  
        background-repeat: no-repeat; 
        background-size: cover; 
    }
}
@media(min-width: 1200px)
{
    .principal{
        background-color: rgb(255, 208, 0);
    }
}
@media(min-width: 1400px)
{
    .principal{
        background-color: rgb(21, 255, 0);
    }
}